<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.web.dao.CrawlerCompanyNewsDao">
	<resultMap type="com.web.pojo.CrawlerCompanyNews" id="BaseResultMap">
		<id column="id" property="id"/>
		<result column="shares_name" property="sharesName"/>
		<result column="shares_code" property="sharesCode"/>
		<result column="news_title" property="newsTitle"/>
		<result column="news_url" property="newsUrl"/>
		<result column="news_id" property="newsId"/>
		<result column="date" property="date"/>
	</resultMap>
	<select id="selectCompanyNewsByParam" resultMap="BaseResultMap">
		select * from crawler_company_news
		<where>
			<if test="sharesName!=null and sharesName!='' ">
				and shares_name = #{sharesName}
			</if>
			<if test="sharesCode!=null and sharesCode!='' ">
				and shares_code= #{sharesCode}
			</if>
		</where>
		order by date desc
	</select>
</mapper>