<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.web.dao.CrawlerShareBuybackDao">
    <resultMap id="BaseResultMap" type="com.web.pojo.CrawlerShareBuyback">
        <id column="id" property="id"/>
        <result column="shares_name" property="sharesName"/>
        <result column="shares_code" property="sharesCode"/>
        <result column="buyback_price_range" property="buybackPriceRange"/>
        <result column="close_price" property="closePrice"/>
        <result column="buyback_volumn_range" property="buybackVolumnRange"/>
        <result column="share_ratio" property="shareRatio"/>
        <result column="equity_ratio" property="equityRatio"/>
        <result column="buyback_amount_range" property="buybackAmountRange"/>
        <result column="begin_date" property="beginDate"/>
        <result column="impl_progress" property="implProgress"/>
        <result column="announcement_date" property="announcementDate"/>
    </resultMap>
</mapper>

