<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.web.dao.CrawlerBasicIndexDao">
	<resultMap type="com.web.pojo.CrawlerBasicIndex" id="BaseResultMap">
		<id column="id" property="id"/>
		<result column="shares_name" property="sharesName"/>
		<result column="shares_code" property="sharesCode"/>
		<result column="shares_type" property="sharesType"/>
		<result column="latest_price" property="latestPrice"/>
		<result column="rise_fall_ratio" property="riseFallRatio"/>
		<result column="rise_fall_price" property="riseFallPirce"/>
		<result column="volumn" property="volumn"/>
		<result column="price" property="price"/>
		<result column="max_price" property="maxPrice"/>
		<result column="min_pirce" property="minprice"/>
		<result column="open_price" property="openPrice"/>
		<result column="close_price" property="closePrice"/>
		<result column="change_volumn" property="changeVolumn"/>
		<result column="quantity_ratio" property="quantityRatio"/>
		<result column="pe_ratio" property="peRatio"/>
		<result column="pb_ratio" property="pbRatio"/>
		<result column="date" property="date"/>
	</resultMap>
	<select id="selectBasicIndexByParam" resultMap="BaseResultMap">
		select * from crawler_basic_index
		<where>
			<if test="sharesName!=null and sharesName!='' ">
				and shares_name = #{sharesName}
			</if>
			<if test="sharesCode!=null and sharesCode!='' ">
				and shares_code= #{sharesCode}
			</if>
		</where>
		order by date desc
	</select>
</mapper>