<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.web.dao.CrawlerRestrictedCirculationDao">
    <resultMap id="BaseResultMap" type="com.web.pojo.CrawlerRestrictedCirculation">
        <id column="id" property="id"/>
        <result column="shares_name" property="sharesName"/>
        <result column="shares_code" property="sharesCode"/>
        <result column="circulation_date" property="circulationDate"/>
        <result column="shareholders_num" property="shareholdersNum"/>
        <result column="share_num" property="shareNum"/>
        <result column="real_share_num" property="realShareNum"/>
        <result column="non_share_num" property="nonShareNum"/>
        <result column="real_share_price" property="realSharePrice"/>
        <result column="equity_ratio" property="equityRatio"/>
        <result column="share_ratio" property="shareRatio"/>
        <result column="close_price" property="closePrice"/>
        <result column="share_type" property="shareType"/>
        <result column="before_range" property="beforeRange"/>
        <result column="after_range" property="afterRange"/>
    </resultMap>
</mapper>