<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.web.dao.CrawlerShareBuybackDao">
    <resultMap id="BaseResultMap" type="com.web.pojo.CrawlerShareBuyback">
        <id column="id" property="id"/>
        <result column="shares_name" property="sharesName"/>
        <result column="shares_code" property="sharesCode"/>
        <result column="buyback_price_range" property="buybackPriceRange"/>
        <result column="close_price" property="closePrice"/>
        <result column="buyback_volumn_range_left" property="buybackVolumnRangeLeft"/>
        <result column="buyback_volumn_range_right" property="buybackVolumnRangeRight"/>
        <result column="share_ratio_left" property="shareRatioLeft"/>
        <result column="share_ratio_right" property="shareRatioRight"/>
        <result column="equity_ratio_left" property="equityRatioLeft"/>
        <result column="equity_ratio_right" property="equityRatioRight"/>
        <result column="buyback_amount_range_left" property="buybackAmountRangeLeft"/>
        <result column="buyback_amount_range_right" property="buybackAmountRangeRight"/>
        <result column="begin_date" property="beginDate"/>
        <result column="impl_progress" property="implProgress"/>
        <result column="announcement_date" property="announcementDate"/>
    </resultMap>
    <select id="selectShareBuybackByParam" resultMap="BaseResultMap">
		select * from crawler_share_buyback
		<where>
			<if test="sharesName!=null and sharesName!='' ">
				and shares_name = #{sharesName}
			</if>
			<if test="sharesCode!=null and sharesCode!='' ">
				and shares_code= #{sharesCode}
			</if>
		</where>
		order by announcement_date desc
	</select>
</mapper>

